apiVersion: v1
kind: Pod
metadata:
  name: client
  labels:
    app: curl-client
spec:
  containers:
  - name: curl
    image: curl-client:latest
    imagePullPolicy: Never
    resources:
      requests:
        memory: "32Mi"
        cpu: "50m"
      limits:
        memory: "64Mi"
        cpu: "100m"
