apiVersion: v1
kind: Pod
metadata:
  name: echo-server
  labels: 
    app: http-echo
spec:
  containers:
  - name: echo-server
    image: http-echo:latest
    imagePullPolicy: Never
    ports: 
      - containerPort: 8080
    env:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "200m"