apiVersion: v1
kind: Pod
metadata:
  name: fortio-client
  labels:
    app: fortio
    role: client
spec:
  containers:
  - name: fortio
    image: fortio/fortio:latest
    imagePullPolicy: IfNotPresent
    command: ["fortio"]
    args: ["server", "-http-port", "8081", "-grpc-port", "disabled", "-tcp-port", "disabled", "-udp-port", "disabled", "-redirect-port", "disabled", "-loglevel", "Warning"]
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"
