apiVersion: v1
kind: Pod
metadata:
  name: fortio-client
  labels:
    app: fortio
    role: client
spec:
  containers:
  - name: fortio
    image: fortio/fortio:latest
    imagePullPolicy: IfNotPresent
    command: ["sh", "-c"]
    args: ["sleep infinity"]
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"
