apiVersion: v1
kind: Pod
metadata:
  name: fortio-server
  labels:
    app: fortio
    role: server
spec:
  containers:
  - name: fortio
    image: fortio/fortio:latest
    imagePullPolicy: IfNotPresent
    args: ["server", "-http-port", "8080", "-redirect-port", "0", "-loglevel", "Warn"]
    ports:
      - containerPort: 8080
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"
